$title-color: #656565;
$substitle-color: #656565;
$background-card-header-color: #7292CC;
$background-color: #656565;
$secondary-subtitle-color: #FFFFFF;
$secondary-title-color: #FFFFFF;
$scroll-color: #A1ABBD;
$scroll-background-color: #FFFFFF;
$modal-header-color: #E4E4E4;